<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Splunk Appender (only for your app package) -->
    <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
<!--        <url>https://localhost:8088</url>-->
        <url>http://host.docker.internal:8088</url>
        <token>82d3b871-1db4-4da8-983a-6c08bed3f0b9</token>
        <index>main</index>
        <sourcetype>springboot-logs</sourcetype>
        <disableCertificateValidation>true</disableCertificateValidation>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- Your app logs go to both console and Splunk -->
    <logger name="com.myshop.productservice" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SPLUNK"/>
    </logger>

    <!-- Everything else only goes to console -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
